name: Coverage
on: push
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2.3.1
      with:
        python-version: '3.8'
        architecture: x64
    - run: pip install --constraint=.github/workflows/constraints.txt pip
    - run: pip install --constraint=.github/workflows/constraints.txt nox
    - run: pip install --constraint=.github/workflows/constraints.txt poetry
    - run: nox --sessions tests coverage xdoctest
      env:
        CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
